<html>
<body>

<div>
    <form method="post">
        <input type="text" name="firstname" placeholder="Введите имя">
        <input type="text" name="lastname" placeholder="Введите фамилию">

        <!--<input type="text" name="projectName" placeholder="Введите название проекта" >-->
        <button type="submit">Добавить сотрудника</button>
    </form>
</div>


<div><h2>Список сотрудников </h2></div>
<table>
    <tr>
        <th> publicid</th>
        <th> firstname</th>
        <th> lastname</th>
        <th> project</th>
    </tr>
    {{#employees}}
        <tr>
            <td> {{publicid}} </td>
            <td> {{firstname}} </td>
            <td> {{lastname}} </td>

            <td> {{#project}}

                <select name="select">
                    <option selected="selected">Выберите проект</option>

                </select>
            {{/project}}
            </td>

            <!--
            <select name="select">
    <option selected="selected">Выберите проект</option>
    <option value=”GR”>Green</option>
    <option value=”YE”>Yellow</option>
    <option value=”BL”>Black</option>
    </select>

        -->

        </tr>
    {{/employees}}
</table>

<!--
<div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit">Найти</button>
    </form>
</div> -->
</body>
</html>