<html>
<body>


<table>
    <h2>Cписок проектов</h2>
    <tr>
        <th> publicid </th>
        <th> name </th>
        <th> description </th>
        <th> client </th>
        <th> employees </th>
    </tr>
{{#projects}}
    <tr>
        <td> {{publicid}} </td>
        <td> {{name}} </td>
        <td> {{description}} </td>
        <td> {{client}} </td>
        <td>{{employees}}</td>
    </tr>
    </table>

{{/projects}}


</body>
</html>